dist: xenial

language: php

php: 7.1

notifications:
  email:
    on_success: never
    on_failure: change

before_install:
  - nvm install

install:
  - npm install
  - composer install

script:
  - npm run ci
